<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockZ</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="../src/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" type="image/x-icon" href="../src/favicon.ico">
</head>
<body class="bg-background w-screen h-screen">

<div class="flex flex-col items-center font-poppins h-screen" id="mainWrapper">

    <nav class="grid grid-rows-1 grid-cols-3 sized90 h-12 laptop:h-16 border-solid border-b border-text-color border-opacity-25">
        <div id="stockZLogo" class="flex justify-self-start bg-transparent font-semibold justify-center laptop:gap-1 self-center hover:cursor-pointer">
            <span class="text-text-color hidden laptop:flex laptop:text-5xl select-none">STOCK</span><span class="text-accent-color select-none text-4xl laptop:text-5xl ml-2">Z</span>
        </div>

        <div class="flex justify-self-center justify-between items-center h-full w-5/6 desktop:w-5/6 laptop:w-full laptop:text-xl desktop:text-2xl self-center text-text-color font-medium">
            <div id="tickerInfoBtn"><img src="{{ url_for('static', filename='tickerIcon.png') }}" alt="Watch List" class="laptop:hidden h-6"><button class="hidden underline underline-offset-8 laptop:flex">Ticker Info</button></div>
            <div id="homeBtn"><img src="{{ url_for('static', filename='houseIcon.svg') }}" alt="Watch List" class="laptop:hidden h-6"><button class="hidden laptop:flex">Main</button></div>
            <div id="watchListBtn"><img src="{{ url_for('static', filename='listIcon.png') }}" alt="Watch List" class="laptop:hidden h-6"><button class="hidden laptop:flex">Watch List</button></div>
        </div>

        <button class="flex justify-self-end h-full mr-5" id="logOutButton">
            <img src="{{ url_for('static', filename='logOut.png') }}" alt="Log Out" class="h-1/2 laptop:h-1/2 self-center">
        </button>
    </nav>

    <main class="flex flex-col h-max laptop:h-full w-full justify-start items-center font-bold gap-2 fade-in py-8">
        <div id="tickerLabelIP" class="flex justify-center items-center select-none border-text-color border-2 laptop:border-3 border-opacity-50 border-solid rounded-lg min-h-16 laptop:h-1/8 w-3/6 laptop:w-52 hover:cursor-pointer transition-all duration-500 ease-in-out text-center uppercase text-text-color text-3xl laptop:text-4xl overflow-hidden"></div>
       
        <div id="buyHolder" class="flex flex-col laptop:flex-row w-full laptop:w-4/5 laptop:h-1/4 justify-start items-center gap-0 laptop:gap-0 laptop:mt-0">

            <div class="flex flex-col justify-center items-start mt-5 laptop:mt-0 min-h-20 laptop:h-1/2 w-3/4 bg-transparent">
                <div class="flex justify-center items-center text-text-color bg-secondary-color h-1/2 w-full rounded-t laptop:rounded-tr-none desktopXL:rounded-tl-lg border-b-2 laptop:border-r-2 border-background text-xl llaptop:text-xl desktopXL:text-3xl font-medium">Great Buy Range</div>
                <div class="flex h-1/2 w-full bg-transparent">
                    <div id="grBL" class="flex justify-center items-center h-full w-1/2 bg-great-buy-one laptop:rounded-bl desktopXL:rounded-bl-lg border-r-2 border-background text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl"></div>
                    <div id="grBH" class="flex justify-center items-center h-full w-1/2 bg-great-buy-two laptop:rounded-br-none laptop:border-r-2 border-background text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl"></div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-start min-h-20 laptop:h-1/2 w-3/4 bg-transparent">
                <div class="flex justify-center items-center text-text-color bg-secondary-color h-1/2 w-full laptop:rounded-t-none border-b-2 laptop:border-r-2 border-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl font-medium">Good Buy Range</div>
                <div class="flex h-1/2 w-full bg-transparent">
                    <div id="gBL" class="flex justify-center items-center h-full w-1/2 bg-good-buy-one laptop:rounded-bl-none border-r-2 border-background text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl"></div>
                    <div id="gBH" class="flex justify-center items-center h-full w-1/2 bg-good-buy-two laptop:rounded-b-none laptop:border-r-2 border-background text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl" ></div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-start min-h-20 laptop:h-1/2 w-3/4 bg-transparent">
                <div class="flex justify-center items-center text-text-color bg-secondary-color h-1/2 w-full laptop:rounded-t-none border-b-2 laptop:border-r-2 border-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl font-medium ">Okay Buy Range</div>
                <div class="flex h-1/2 w-full bg-transparent">
                    <div id="oBL" class="flex justify-center items-center h-full w-1/2 bg-okay-buy-one laptop:rounded-bl-none border-r-2 border-background text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl" ></div>
                    <div id="oBH" class="flex justify-center items-center h-full w-1/2 bg-okay-buy-two laptop:rounded-b-none laptop:border-r-2 border-background text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl"></div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-start min-h-20 laptop:h-1/2 w-3/4 bg-transparent">
                <div class="flex justify-center items-center text-text-color bg-secondary-color h-1/2 w-full laptop:rounded-t-none laptop:rounded-tr desktopXL:rounded-tr-lg border-b-2 border-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl font-medium">Bad Buy Range</div>
                <div class="flex h-1/2 w-full bg-transparent">
                    <div id="bBL" class="flex justify-center items-center h-full w-1/2 bg-desperate-buy-one rounded-bl laptop:rounded-bl-none border-r-2 border-background text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl"></div>
                    <div id="bBH" class="flex justify-center items-center h-full w-1/2 bg-desperate-buy-two rounded-br desktopXL:rounded-br-lg text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl"></div>
                </div>
            </div>
           
        </div>
        <section class="flex flex-col-reverse laptop:flex-row w-full laptop:w-4/5 laptop:h-3/6 items-center">
            <div class="laptop:w-3/4">
                <div class="innerChart">
                    <canvas id="stockChart" class="flex"></canvas>
                </div>
            </div>
            <div class="flex flex-col w-3/4 laptop:w-1/4 h-full ">
                <div class="flex flex-col justify-center items-start mt-5 laptop:mt-0 min-h-20 laptop:h-1/5 w-full bg-transparent">
                    <div class="flex h-1/2 w-full bg-transparent">
                        <div class="flex justify-center items-center h-full w-1/2 bg-secondary-color rounded-tl desktopXL:rounded-tl-lg border-r-2 border-background text-text-color text-lg laptop:text-xl desktop:text-2xl desktopXL:text-3xl font-medium">Current Price</div>
                        <div class="flex justify-center items-center h-full w-1/2 bg-secondary-color rounded-tr desktopXL:rounded-tr-lg laptop:rounded-br-none laptop:border-r-2 border-background text-text-color text-lg laptop:text-xl desktop:text-2xl desktopXL:text-3xl font-medium">Dip Price</div>
                    </div>
                    <div class="flex h-1/2 w-full bg-transparent">
                        <div id="currentPrice" class="flex justify-center items-center h-full w-1/2 bg-text-color rounded-bl desktopXL:rounded-bl-lg border-r-2 border-background text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl"></div>
                        <div id="dipPrice" class="flex justify-center items-center h-full w-1/2 bg-text-color rounded-br desktopXL:rounded-br-lg laptop:border-r-2 border-background text-background text-xl laptop:text-xl desktop:text-2xl desktopXL:text-3xl"></div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="otherButtons" class="flex flex-col min-h-1/6 laptop:h-32 w-3/4 laptop:w-1/4 gap-2 mt-auto justify-end">
            <button id="addToWatchlist" class="text-text-color bg-secondary-color rounded desktopXL:rounded-lg h-8 laptop:h-2/6 active:scale-110 font-medium text-xl laptop:text-lg desktop:text-xl desktopXL:text-2xl hover:bg-text-color hover:text-background hover:-translate-y-2 transition-all duration-200 ease-in-out">Add To Watchlist</button>
            <div class="flex justify-between w-full h-8 laptop:h-2/6 gap-2">
                <button id="stockStatsLink" class="flex justify-center items-center bg-secondary-color w-1/2 h-full active:scale-110 rounded desktopXL:rounded-lg text-text-color font-medium text-sm laptop:text-lg desktop:text-xl desktopXL:text-2xl hover:bg-text-color hover:text-background hover:-translate-y-1 transition-all duration-200 ease-in-out">Stock Statistics</button>
                <button id="stockDescLink" class="flex justify-center items-center bg-secondary-color w-1/2 h-full active:scale-110 rounded desktopXL:rounded-lg text-text-color font-medium text-sm laptop:text-lg desktop:text-xl desktopXL:text-2xl hover:bg-text-color hover:text-background hover:-translate-y-1 transition-all duration-200 ease-in-out">Stock Description</button>
            </div>
        </section>
    </main>
    
</div>

<script type="module" src="../src/javascript.mjs"></script>

</body>
</html>
