<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockZ</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="../src/favicon.ico">
</head>
<body class="bg-background w-screen h-screen">

<div class="flex flex-col items-center font-poppins h-screen" id="mainWrapper">

    <nav class="grid grid-rows-1 grid-cols-3 sized90 h-12 laptop:h-16 border-solid border-b border-text-color border-opacity-25">
        <div id="stockZ" class="flex justify-self-start bg-transparent font-semibold justify-center laptop:gap-1 self-center">
            <span class="text-text-color hidden laptop:flex laptop:text-5xl select-none">STOCK</span><span class="text-accent-color select-none text-4xl laptop:text-5xl ml-2">Z</span>
        </div>

        <div class="flex justify-self-center justify-between items-center h-full w-5/6 text-2xl self-center text-text-color font-medium">
            <div id="tickerInfoBtn"><img src="{{ url_for('static', filename='tickerIcon.png') }}" alt="Watch List" class="laptop:hidden h-6"><button class="hidden laptop:flex">Ticker Info</button></div>
            <div id="homeBtn"><img src="{{ url_for('static', filename='houseIcon.svg') }}" alt="Watch List" class="laptop:hidden h-6"><button class="hidden laptop:flex">Main</button></div>
            <div id="watchListBtn"><img src="{{ url_for('static', filename='listIcon.png') }}" alt="Watch List" class="laptop:hidden h-6"><button class="hidden underline underline-offset-8  laptop:flex">Watch List</button></div>
        </div>

        <button class="flex justify-self-end h-full mr-5" id="logOutButton">
            <img src="{{ url_for('static', filename='logOut.png') }}" alt="Log Out" class="h-1/2 laptop:h-1/2 self-center">
        </button>
    </nav>

    <main class="flex flex-grow w-full justify-center items-start mt-10 laptop:mt-16 desktop:mt-20 fade-in">
        <section id="watchListContainerLarge" class="flex flex-col items-center justify-start w-4/5 h-5/6 laptop:w-2/5 desktop:w-2/5 desktop:h-3/4 rounded laptop:rounded-xl desktop:rounded-xl border-solid border border-text-color border-opacity-25">
            <div class="flex justify-end items-center h-5 w-72 laptop:w-11/12 laptop:h-20 mt-2">
                <!-- Small bar at top for refresh button to go in top right corner -->
                <button id="refreshButton" class="h-full w-5 laptop:w-10"><img src="{{ url_for('static', filename='refreshIcon.svg') }}" alt="Refresh" class=""></button>
            </div>
            <div class="flex w-9/12 h-8 laptop:h-14 rounded border-solid border text-text-color text-sm laptop:text-3xl border-text-color border-opacity-25 font-semibold">
                <!-- Column Names -->
                <button class="flex justify-center items-center h-full w-1/3 border-r border-text-color border-opacity-25">Name</button>
                <button class="flex justify-center items-center h-full w-1/3 border-r border-text-color border-opacity-25">GB Price</button>
                <button class="flex justify-center items-center h-full w-1/3">BB Price</button>
            </div>
            <div id="watchlistItemsContainer" class="flex flex-col w-9/12 h-5/6 mt-3 overflow-scroll scroll gap-2 no-scrollbar">
                
            </div>
            
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='javascript.mjs') }}"></script>
</body>
</html>

<!-- Example Watchlist Item -->
<!-- 
    <div class="flex w-full h-7 laptop:h-9 text-background text-lg laptop:text-2xl font-semibold">
        <div class="flex h-full w-60 justify-center items-center bg-text-color rounded-l border-r border-background">WFC</div>
        <div class="flex flexh-full w-60 justify-center items-center bg-great-buy-one border-r border-background">$39.45</div>
        <div class="flex h-full w-60 justify-center items-center bg-desperate-buy-one rounded-r">$51.02</div>
        <div id="deleteWatchlistItem" class="flex h-full w-10 justify-center items-center bg-none rounded border-solid border border-text-color border-opacity-25 ml-auto"><img class="h-full w-4/5" src="../src/trashcan.svg" alt="Delete"></div>
    </div>
 -->