@keyframes moveStockZ {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-42vw, -32vh);
    }
}
@keyframes fadeOutButtons {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* Common styles */
canvas {
    border-radius: 5px;
    color: rgb(228, 236, 228);
    padding: 1% .5% .5% .5%;
    margin-bottom: 1.25rem;
}

/* Mobile breakpoint */
@media (max-width: 767px) {
    .innerChart {
        height: clamp(100px, 200px, 300px);
        display: flex;
        align-items: stretch; /* Ensures the canvas fills the container */
    }
    .shrinkWaitlistBox {
        width: 4rem;
    }
    canvas {
        border-radius: 5px;
        color: rgb(228, 236, 228);
        padding: 0;
        margin: 1.25rem 0; /* Removed redundant margin property */
        border: 1px #E4ECE4 solid;
        flex: 1; /* Ensures the canvas takes up the full height of its container */
    }
}

/* 1920x1080 resolution breakpoint */
@media (min-width: 992px) {
    .innerChart{
        min-width: 100%;
        height: clamp(300px, 380px, 900px);
    }
    .shrinkWaitlistBox{
        width: 8rem;
    }
}
@media (min-width: 1500px) {
    .innerChart{
        min-width: 100%;
        height: clamp(300px, 475px, 900px);
    }
    .shrinkWaitlistBox{
        width: 11rem;
    }
}

@media (min-width: 2560px) {
    .innerChart{
        min-width: 100%;
        height: clamp(300px, 600px, 1000px);
    }
    .shrinkWaitlistBox{
        width: 15rem;
    }
}
.fade-in {
    animation: fade-in 0.2s ease-out forwards;
}
.fade-in-slow {
    animation: fade-in 0.5s ease-out forwards;
}
.moved {
    position: relative;
    animation: moveStockZ 0.5s forwards ease-in-out;
}
.fadeAway {
    animation: fadeOutButtons 0.2s forwards ease-in-out;
}
.sized90 {
    width: 98%;
}
#mainPage {
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
  }

#mainPage.fade {
    opacity: 1;
  }

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.moveUpBox{
    margin-top: 0;
    width: 13rem;
}
.moveDownBox{
    margin-top: 6rem;
    height: 33.3333%;
    width: 40%;
}
.sizeText {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

#watchlistDeleteButton:hover > img{
    filter: invert(1);
}
