@keyframes moveStockZ {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-42vw, -32vh);
    }
}
@keyframes fadeOutButtons {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* Common styles */
canvas {
    border-radius: 5px;
    color: rgb(228, 236, 228);
    /* border: 2px solid rgb(228, 236, 228, .5); */
    padding: 1% .5% .5% .5%;
    margin-bottom: 1.25rem;
}

/* Mobile breakpoint */
@media (max-width: 767px) {
    canvas {
       display: none !important;
    }
}
/* 1920x1080 resolution breakpoint */
@media (min-width: 1920px) {
    canvas {
        height: 22.5rem !important;
        width: 45rem !important;
    }
}
@media (min-width: 2560px) {
    canvas {
        height: 35rem !important;
        width: 70rem !important;
    }
}
.fade-in {
    animation: fade-in 0.2s ease-out forwards;
}
.moved {
    position: relative;
    animation: moveStockZ 0.5s forwards ease-in-out;
}
.fadeAway {
    animation: fadeOutButtons 0.2s forwards ease-in-out;
}
.sized90 {
    width: 98%;
}
#mainPage {
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
  }

#mainPage.fade {
    opacity: 1;
  }

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.moveUpBox{
    margin-top: 2rem;
    height: 4rem;
    width: 13rem;
}
.moveDownBox{
    margin-top: 6rem;
    height: 33.3333%;
    width: 33.3333%;
}
.sizeText {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.shrinkWaitlistBox{
    width: 15rem;
}
#watchlistDeleteButton:hover > img{
    filter: invert(1);
}
